.navbar-wrapper
  .container
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} SellGuitars.NYC
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Home
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                We Buy
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Guitars
                %li
                  %a{:href => "#"} Basses
                %li
                  %a{:href => "#"} AMPs
                %li
                  %a{:href => "#"} Pedals
                %li
                  %a{:href => "#"} Drum Kits
                %li
                  %a{:href => "#"} Saxaphones
                %li
                  %a{:href => "#"} Other Items
            %li
              %a{:href => "#"} Contacts
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"}
                = fa_icon "facebook", class: "fa-lg"
            %li
              %a{:href => "#"}
                = fa_icon "instagram", class: "fa-lg"
            %li
              %a{:href => "#"}
                = fa_icon "twitter", class: "fa-lg"
            %li
              %a{:href => "#"}
                = fa_icon "google-plus", class: "fa-lg"
