
/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "/security.png", :width => "140"}/
      %h2 Security
      %p Our shop located in nice neighborhood and we provide all paperwork. (No online creepy strangers in scary places).
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "/dollar.png", :width => "140"}/
      %h2 We Always Pay More!
      %p Instant cash on the spot. Dont waste you time, call us right now and take your best deal.
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => "/calendar.svg", :width => "140"}/
      %h2 Sell On Consignment
      %p If you have time to wait and want to get more money for your goods, we provide consignment.
  / /.col-lg-4
  / /.row
  / START THE FEATURETTES

